<header>
    <div class="logo">
        <a href="/" class="logo">
            <img src="/images/Flower Code Logo.png" alt="logo">  
        </a>
    </div>  
    <nav class="navbar">
        <ul class="navbar-list hover active-link">
            <li><a href="/">Design</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </nav>
    <a href="javascript:void(0);" class="menu-icon">
        <i class="fas fa-bars fa-2x"></i>
    </a>
</header>   