<%- include('../partials/head') -%>

<%- include('../partials/nav') -%>

<!-- main content -->
<main>
    <section>
        <div class="circle">
            <img src="/images/Example_Morning Glory.jpeg" alt="morning glory bouquet tied with a ribbon">
        </div>
    </section>

    <section>
        <!-- <h1>About Us</h1> -->
        <h2>More convenient than a cross-country delivery and more personal than a stock photo</h2>
            <br>    
                <p>FlowerCode is a free application that allows you to create personalized flower bouquets and send them virtually to loved ones.</p>
            <br>
                <p>Designing a bouquet is fast and easy. Choose from four different categories to build your bouquet and see which style matches your recipient and/or the occasion the most.  Add a note if you'd like, and instantly email a virtual bouquet without leaving the site.</p>
            <br>

        <h2>How We Started</h2>
            <br>    
                <p>The idea for FlowerCode originated during the height of the COVID-19 pandemic. With social distancing, lockdowns, and both the direct and indirect effects of the pandemic, we needed a little something to brighten our day and show others we care from a safe distance. </p> 
            <br>
                <p>As the pandemic thankfully slows to end, this application still bridges the distance during the times we are apart from our friends and family. It can be a loving surprise to your long-distance partner, child who's studying abroad, loved one in the hospital, or even your best friend who lives just a block away.</p>

    </section>
    
</main>


<%- include('../partials/footer') -%>
