<%- include('../partials/head') -%>

<%- include('../partials/nav') -%>

<main>
    <section class="contact-container">
        <div>
            <div class="center-text">
                <h1>Hi, <%= contact.senderName %>!</h1>
            <br>
                <h3>Thank you for sending us a message! We'll get back to you as soon as possible.
                </h3>
            </div>

</main>

<%- include('../partials/footer') -%>