<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact | FlowerCo</title>
    <script src="https://kit.fontawesome.com/5dd9ddd947.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/public/styles/styles.css" type="text/css">
    <script src="scripts.js" defer></script>
</head>
<body>

<!-- header -->
<header>
    <div class="logo">
        <a href="../pages/index.html" class="logo">
            <img src="../../public/images/Example_Grape Hyacinth.jpeg" alt="logo"> 
        </a>
    </div>  
    <nav class="navbar">
        <ul class="navbar-list hover active-link">
            <li><a href="about.html">About</a></li>
            <li><a href="index.html">Design</a></li>
            <li><a href="#gallery">Gallery</a></li>
            <li><a href="contact.html">Contact</a></li>
        </ul>
    </nav>
    <a href="javascript:void(0);" class="menu-icon">
        <i class="fas fa-bars fa-2x"></i>
    </a>
</header>   

<main>
<!--submission form section  -->
<section class="contact-container">
    <form action="#">
        <div>
            <div class="center-text">
                <h1>Get in touch!</h1>
            <br>
                <p>We'd love to hear from you. Send us a message (or a bouquet), and we'll get back to you.</p>
            </div>

            <div class="spaced">
                <label for="guest-name">Name:</label>
                    <input type="text" id="guest-name" name="guest-name" placeholder="Name">
                    <br>
                <label for="sender-email">Email:</label>
                    <input type="text" id="sender-email" name="sender-email" placeholder="Email"> 
            </div>

            <div>
                <h3>Thoughts? Questions? Concerns?</h3>
                <label for="message"></label>
                    <textarea id="message" name="message" placeholder="Write your message here.."  ></textarea>
            </div>

        </div>
    </form>
    
    <!-- Submit button --> 
    <button class="rounded-btn" type="submit" form="creation" value="Submit">Send!</button> 
</section>    
</main>

<!-- footer -->
<footer>
<p class="center-text">&copy; FlowerCo</p>

<div class="flex-row">
    <a href="https://www.pinterest.com/">
        <i class="fab fa-pinterest"></i>
    </a>
    
    <a href="https://www.instagram.com/">
        <i class="fab fa-instagram"></i>
    </a>
  
    <a href="https://github.com/agathaalmunir">
        <i class="fab fa-github"></i>
    </a>
    
    <a href="https://www.linkedin.com/in/agatha-almunir">
        <i class="fab fa-linkedin"></i>
    </a>         
</div>

</footer>
</body>
</html>