/* #FFA303  orange
 #FFE0AE champange
#F5631A burst sienna

 yellow green 
*#81B622 lime green */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
  --light-green: #787D12;
  --burnt-sienna: #F5631A;
  --champange: #ffe3ae;
  --orange: #FFA303;
  --dark-purple: #653375;
  --white: #FFFFFF;
  --teal: #59D7EE;
  --lilac: #cdaad6;
}


body {
    background-color: var(--white);
    color: var(--burnt-sienna);
    font-size: 1em;
    font-family: 'Baloo Tammudu 2', sans-serif;
}

h1 {
  font-size: 1.6rem;
}

h2 {
  font-size: 1.3rem;
}

h3 {
  font-size: 1.2rem;
}

p {
  font-family: 'Roboto', sans-serif;
  font-size: 1.1rem;
  color: var(--dark-purple);
}

.upper-case {
  text-transform: uppercase;
}

.center-text {
    text-align: center;
}

.rounded-btn {
  border: none;
  border-radius: 0.8em;
  padding: 0;
  text-align: center;
  width: 7em;
  height: 2.5em;
  margin: auto;
  display: block;
  background-color: var(--light-green);
  color: var(--white);
  margin: 2em auto;
}


.circle img {
  border: var(--champange) 8px solid;
  border-radius: 100px;
  width: 10rem;
  padding: 1em;
}

.float-right {
  float: right;
}

.light-color-background {
  background-color: var(--champange);
}

main {
  padding: 1.2rem;
}

.flex {
  display: flex;
}

.wrap {
  flex-wrap: wrap;
}

.column {
  flex-direction: column;
}

.flex-half {
  width: 50%;
}

.space-between {
  justify-content: space-between;
}

.sticky {
  position: sticky;
  top: 15px;
}

.left-padding {
  padding-left: 10em;
  padding-top: 2em;
  position: relative;
}

/* bouquet */
.base {
  position: absolute;
  z-index: 3;
}

.flower {
  position: absolute;
  z-index: 2;
}

.greenery {
  position: absolute;
  z-index: 1;
}

.accents {
  position: absolute;
  z-index: 0;
}


.show-div {
  display: block !important;
}

.message-form {
  display: none;
}
.pot {
  position: absolute;
  z-index: 3;
  display: block;
}

.tape {
  position: absolute; 
  z-index: 3;
  display: none;
}

.ribbon {
  position: absolute;
  z-index: 3;
  display: none;
}

.grape-hyacinth {
  position: absolute;
  z-index: 2;
  display: block;
}

.morning-glory {
  position: absolute;
  z-index: 2;
  display: none;

}

.coneflower {
  position: absolute;
  z-index: 2;
  display: none;
}

.leather-fern {
  position: absolute;
  z-index: 1;
  display: block;
}

.babys-breath {
  position: absolute;
  z-index: 1;
  display: none;
}

.silver-dollar-eucalyptus{
  position: absolute;
  z-index: 1;
  display: none;
}

.bubbles{
  position: absolute;
  z-index: 0;
  display: block;
}

.hearts {
  position: absolute;
  z-index: 0;
  display: none;
}

.sparkles {
  position: absolute;
  z-index: 0;
  display: none;
}


/* header */
header {
  height: 4rem;
  padding: .3rem 1rem 8rem 0;
  background-color: var(--white);
  font-family: 'Baloo Tammudu 2', sans-serif;
}

div.logo img{
  width: 10rem;
  height: auto;
  padding: 0rem 1rem;
  align-self: left;
}

ul.navbar-list li {
  list-style: none;
  padding: 1rem 0;
}

ul.navbar-list li a {
  text-decoration: none;
  color: var(--dark-purple);
  text-transform: uppercase;
  font-size: 1.1rem;
  /* display: block; */
}

a.menu-icon {
	display: block;
	color: var(--lilac);
	position: absolute;
	right: .5em;
	top: .5em;
	padding: 1rem .8rem;
}

/* Navbar hidden */
nav.navbar {
  display: none;
}

nav.navbar.open {
  display: block;
  max-width: 75%;
  margin: 2em;
  /* height: fit-content; */
  background-color: var(--champange);
}

.hover a:hover {
  color: var(--orange);
}

.active-link a:active {
  font-weight: bold;
}

/* Footer */
footer {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  background-color: var(--lilac);
  margin-top: 7rem;
  margin-bottom: 0rem;
}

footer p {
  padding-top: 2rem;
  color: var(--dark-purple);
}

footer >div {
  justify-content: space-evenly;
  width: 20%;
  margin: 1em auto;
}

/* title */
h3.center-text {
  color: var(--lilac);
}

/* OPTIONS */
section.design {
  width: 50%;
  margin: 1em;
}

img {
  width: 10em;
  margin: auto ;
  padding: 1em;
}


/* Forms */
.spaced {
  margin: 2.5rem 0;
}

.form-container {
  width: 100%;
  margin: auto;
  padding: 4rem;
}

textarea {
  height: 100px;
}

input[type=text],
input[type=email],
textarea {
  width: 100%;
  padding: 12px;
  border: solid var(--lilac) 2px;
  border-radius: 10px;
  margin: .5em 0em;
}

label {
  padding: .5em 0;
  display: inline-block;
  margin: 0;
  color: var(--dark-purple);
  font-family: 'Roboto', sans-serif;
}

.contact-container {
  width: 75%;
  margin: 2.5rem auto;
  background: whitesmoke;
  padding: 5em 5rem;
  border-radius: 30px;
}
  
 /* accordion panel */
/* panel buttons*/
.accordion {
    background-color: var(--champange);
    color: var(--burnt-sienna);
    cursor: pointer;
    padding: 18px;
    text-align: left;
    border: solid 1px rgb(224, 224, 224);
    width: 100%;
    outline: none;
    transition: 0.4s;
    font-family: 'Baloo Tammudu 2', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.1em;
  }


/* Add a background color to the button when clicked (with the .active class with JS) and hovered*/
.active, .accordion:hover {
  background-color: var(--orange);
  color: var(--white);
}

.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  font-family: 'Roboto', serif;
}

.accordion:after {
  content: '\02795'; 
  font-size: 13px;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796"; 
}

@media only screen and (min-width: 320px), (max-width: 480px) { 
  .left-padding {
    padding-left: 1em;
    padding-right: 100rem;
    padding-top: 2rem;
  }

  /* .flex-half {
    width: 100%
  } */
} 

@media only screen and (min-width: 481px), (max-width: 768px) {
  .left-padding {
    padding-left: 0rem;
    padding-right: 100rem;
    padding-top: 2rem;
  }
}

@media only screen and (min-width: 769px) {
  header {
    display: flex;
    justify-content: space-between;
  }

  a.menu-icon {
    display: none;
  }

  nav.navbar {
    display: block;
  }

  ul.navbar-list {
    display: flex;
    justify-content: space-around;
    font-size: 1rem;
    margin: 2rem;
  }

  div.logo {
    flex: 1;
  }

  nav.navbar {
    flex: 2;
  }

 .flex-half {
   width: 50%;
 }

 .left-padding {
   padding-left: 17em;
   padding-right: 10em;
   padding-top: 3rem;
 }

  .form-container {
    padding: 0 4rem 0 0;
  }
}